{% extends 'index.html' %}

{% block content %}

    {% if msg %}
    <div class="alert {{class}}">
        {{msg}}
    </div>
    {% endif %}
    <form action="/changePassword/" method="post">
        <div class="col-6 mt-4 m-auto">
            <h2>Trocar Senha de Usuário</h2>
            {% csrf_token %}
            <label for="senha_atual">Senha Atual:</label>
            <input class="form-control mt-4" type="password" id="senha_atual" name="senha_atual" required><br><br>
            {% csrf_token %}
            <label for="nova_senha">Nova Senha:</label>
            <input class="form-control mt-4" type="password" id="nova_senha" name="nova_senha" required><br><br>

            <label for="confirmar_senha">Confirmar Nova Senha:</label>
            <input class="form-control mt-4" type="password" id="confirmar_senha" name="confirmar_senha" required><br><br>

            <input class="btn btn-dark mt-4" type="submit" value="Trocar Senha">
        </div>
{% endblock %}